*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing:border-box;

}
body{
    background-color:hwb(183 4% 68%);
    color:#e2de8b;
}

#header{
    width: 100%;
    min-height: 100vh; 
}
.container{
    padding:10px 10%;
    
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

}
nav ul li{
    display: inline-block;
    list-style:none ;
    margin:10px 20px;
} 
nav ul li a{
    color:#e2de8b;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgba(240, 245, 245, 0.733);
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    max-width: 600px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}
.header-text h1 span{
    color:lch(80.41% 56.84 160.38)
}
/*--------about---------->*/
#about{
padding: 80px 0;
color:#e2de8b;
justify-content: center;

}
.section__text__p1{
    text-align: center;
}
#social-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.size{
    width:190px;
    height: 300px;
    object-fit:cover;
    margin-top: 100px;
}
.row{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    border-radius:15px ;
}
.about-col-2{
    flex-basis: 60%;
    
}
.sub-title{
    font-size: 3rem;
    font-weight: 600;
    color: #e2de8b;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: hsl(191, 79%, 81%);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:rgba(240, 245, 245, 0.733);
    font-size: 18px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display: block;
}
.social-container{
    display:flex;
    justify-content:center;
    margin-top:1rem;
    gap: 1rem;
}
.icon{
    cursor:pointer;
    height:2rem;
}
.btn-container{
    display:flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 25px;
}
.btn-container button{
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 15px;
}

.btn-color-1,.btn-color-2{
    border:white 0.1rem solid;
}
.btn-color-1:hover,
.btn-color-2:hover{
    cursor:pointer;
}
.btn-color-1,
.btn-color-2:hover{
    background: #171716;
    color:rgb(189, 191, 166);
}
.btn-color-1:hover{
    background: rgb(0,0,0) ;
}
.btn-color-2{
    background: none;
}
.btn-color-2:hover{
    border:rgb(255,255,255) 0.1rem solid;
}
.btn-container{
    gap:1rem;
}
#section__text__p1{
    text-align:center;
}
.title{
    font-size: 3rem;
    text-align: center;
}
/*projects*/
#projects{
    text-align: center;
    padding-top: 80px;
}
.icon-img{
    width: 100px;
    height: 200px;
    object-fit:contain;
}
.projects-heading{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center; /* keeps it centered */
    margin-top: 0;
}

.color-container{
    border-color:rgb(163,163,163);
    background: rgb(250,250,250);
}

.project-img{
    border-radius:2rem;
    width:200px;
    height: 200px;
}
.project-title{
    margin: 1rem;
    color: black
}
.project-btn{
    color: lab(85.14% -14.57 57.28);
    border-color:rgb(163,163,163) ;
}
.browse-line{
    text-align: center;
    font-size: large;
    margin-bottom: 0;
}
.details-container p{
    margin-bottom: 20px;
}
.details-container h2,p{
    text-align:left;
}
.list{
    text-align: left;
}


#contact{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact__text__p1{
text-align: center;
}
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(163,163,163);
    background: rgb(197, 215, 216);
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    margin: 1rem;
}
.git-btn:hover,
.live-btn:hover{
    cursor:pointer;
}
.git-btn,
.live-btn:hover{
    background: white;
    color: black;
}
.git-btn:hover{
    background: rgb(255, 255, 255);
}
.live-btn{
    background: none;
}
.live-btn:hover{
    border: rgb(255,255,255) 0.1rem solid;
}
.contact-info-container p{
    font-size: larger;
}
.contact-icon{
    cursor:default;
    height: 2rem;
}
.icon.contact-icon{
    height: 2.5rem;
}
footer {
height: 26vh;
margin:0 1rem ;
}
footer p{
    text-align: center;
}
footer nav{
    justify-content: center;
}






